{
  "extends": ["airbnb"],
  "rules": {
    "comma-dangle": "off",
    "arrow-parens": "off",
    "brace-style": "off",
    "strict": "off",
    "no-use-before-define": "off",
    "class-methods-use-this": "off"
  }
}
