doctype html
html
  head
    title= title || 'Survey Gizmo Dashboard'
    link(rel='stylesheet', href='/public/stylesheets/main.scss')
  body
    div#logoWrapper
      img#logo(src="/images/logo.png", height="150")
      h4 Survey Gizmo Dashboard
      h5.no-print
        a(href='/') Home
        a(href=config.lmsUrl) LMS

        if email
          a(href='/users/logout', title='Click to log out')= email
        else
          a(href='/users/auth') Log in

    block content
