.approve-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .8);

  .close-modal {
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translateX(-50%);
  }

  .approve-modal-content {
    position: absolute;
    left: 50%;
    top: 15%;
    bottom: 15%;
    width: 60%;
    transform: translateX(-50%);
    padding: 3rem;
    background: white;

    button {
      width: 170px;
      height: 50px;
      margin: 3rem;
    }
  }
}
