.pagination {
    text-align: center;
    font-size: 20px;
    color: #5e5e5e;

    & ul {
        display: inline-block;

        padding-left: 15px;
        padding-right: 15px;

        border: 1px solid lightslategrey;
        border-radius: 3px;
    }

    & li {
        display: inline-block;

        margin-right: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    & a {
        cursor: pointer;
    }
}

.printButton {
    display: inline-block;
    height: 28px;
    width: 58px;

    border-radius: 2px;
    margin-bottom: 4px;
    margin-left: 6px;
}

@media print {
    .no-print {
        display: none;
    }
}
