$primary-color: #4F463D;
$secondary-color: #9B9EA0;
$accent-color: #F76B1C;

*, html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans;
}

html {
  font-size: 16px;
}

h1 {
  color: $primary-color;
  margin: 1em;
}

h2 {
  text-align: center;
}

button {
  cursor: pointer;
}

#logoWrapper {
  img, h4 {
    display: inline-block;
    color: $secondary-color;
    vertical-align: middle;
    font-family: Roboto Condensed;
    font-weight: 100;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    float: right;
    line-height: 150px;
    margin-right: 4rem;

    a {
      color: $secondary-color;
      text-decoration: none;
      transition: color .4s;
      margin: 1em;
      font-weight: 400;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.highlight-text {
  color: $accent-color;
  font-weight: 600;
}

table.form-responses {
  border: 1px solid $secondary-color;
  border-collapse: collapse;
  margin: 2em auto;

  thead td {
    color: $accent-color;
    font-weight: 600;
  }

  tbody tr:hover {
    transition: background .4s;
    background: $secondary-color;
  }

  tr.approved td{
    color: $accent-color;
  }

  td {
    padding: .5em 1em;
    border-bottom: 1px solid $secondary-color;
  }
}
