$primary-color: #4F463D;
$secondary-color: #9B9EA0;
$accent-color: #F76B1C;

@import 'errorModal';
@import 'approveModal';
@import 'formResponses';
@import 'footer';

*, html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, sans;
}

html {
  font-size: 16px;
}

h1 {
  color: $primary-color;
  margin: 1em;
}

h2 {
  text-align: center;
}

button {
  cursor: pointer;
}

#logoWrapper {
  img, h4 {
    display: inline-block;
    color: $secondary-color;
    vertical-align: middle;
    font-family: Roboto Condensed, Helvetica;
    font-weight: 100;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    float: right;
    line-height: 150px;
    margin-right: 4rem;

    a {
      color: $secondary-color;
      text-decoration: none;
      transition: color .4s;
      margin: 1em;
      font-weight: 400;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.highlight-text {
  color: $accent-color;
  font-weight: 600;
}

.stats {
  margin: auto;
  text-align: center;
  background: $secondary-color;
  padding: 2em 0;

  h1 {
    color: $accent-color;
  }

  span {
    display: inline-block;
    width: 33%;
  }

  input[type=search] {
    margin: 2em auto 1em;
    padding: .4em;
    width: 300px;
    height: 40px;
  }

  select {
    margin: 0 1em;
    height: 40px;
  }
}


table.form-responses {
  border: 1px solid $secondary-color;
  border-collapse: collapse;
  margin: 2em auto;

  thead td {
    color: $accent-color;
    font-weight: 600;
  }

  tbody tr:hover {
    transition: background .4s;
    background: $secondary-color;
  }

  tr.approved td {
    color: $accent-color;
  }

  tr.rejected td {
    color: $accent-color;
  }

  td {
    padding: .5em 1em;
    border-bottom: 1px solid $secondary-color;
  }
}

.form-response-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary-color;
  text-align: center;

  h1 {
    text-align: center;
  }

  .content {
    background: white;
    margin: auto;
    text-align: left;
    width: 60%;
    height: 80%;
    padding: 2rem;
    overflow: auto;

    b {
      display: block;
    }

    p {
      padding: .25rem;
    }
  }

  button {
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin: 1rem;
    background: $accent-color;
    border: 0 none;
    outline: 0 none;
    color: white;

    &:hover {
      opacity: .7;
    }
  }
}
